.item-container{
    height: 500px;
    box-shadow: 5px 10px 5px rgb(137, 131, 131);
    border: 2px solid rgb(172, 159, 159);
    margin-left: 45px;
    margin-top: 30px;
}
.item-container img{
    /* width: 250px; */
    height: 300px;
}